<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="backend_block_widget_grid_prepare_grid_before">
        <observer name="backend_importexport_filter_grid_add_additional_button"
                  instance="SweatyApe\SelectAllExport\Observer\Backend\Block\Widget\Grid\Extended\Button"/>
    </event>
</config>